@use './variables.scss' as *;

//* Genelar styles
body {
  margin: 0px;
  background-color: $white;
  font-family: 'General Sans';
}
a {
  color: inherit;
  text-decoration: none;
  position: relative;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

//* Header styles
.header {
  width: 100%;
  height: 130px;
  @include setFlex(column);

  //* Popup
  &__popup {
    width: 100%;
    height: 40px;
    background-color: $black;
    color: $white;
    @include setFlex(row);

    p {
      @include setFlex(row);
      gap: 4px;
      font-size: 12px;
      font-family: 'Inter', sans-serif;

      &::before {
        content: url(/Star.svg);
        display: block;
      }
      &:hover {
        opacity: 0.5;
        transition: 0.4s;
      }
    }
  }

  //* Header container
  &__container {
    margin: auto;
    width: 100%;
    max-width: 1280px;
    height: 90px;
    @include setFlex(row, space-between);
  }
  &__container--left {
    width: 100%;
    max-width: 633px;
    @include setFlex(row, space-between);
  }

  //* Navbar
  &__navbar {
    width: 376px;
    list-style: none;
    font-weight: bold;
    @include setFlex(row, space-between);
    font-size: 16px;

    &--arrow {
      @include setFlex(row);
      gap: 8px;
      &::after {
        content: url(/Arrow-down.svg);
        display: block;
        margin-bottom: 6px;
      }
    }
    a::before {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 2px;
      background-color: $black;
      scale: 0 1;
      transform-origin: left;
      transition: 0.4s;
    }
    a:hover::before {
      scale: 1;
    }
  }

  //* Header button
  &__button {
    width: 171px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    @extend %buttonStyles;
    gap: 14px;

    &::after {
      content: url(/Arrow-right.svg);
      display: block;
    }
    &:hover {
      scale: 1.04;
    }
  }
}

//* Main styles
.main {
  margin: auto;
  max-width: 1280px;

  //* Hero section
  .hero {
    margin: auto;
    width: 100%;
    height: auto;
    @include setFlex(column);

    &__up {
      width: 100%;
      height: 377px;
      @include setFlex(row, space-between);
    }
    &__up--first {
      max-width: 553px;
      height: 100%;
      @include setFlex(column, center, none);

      h1 {
        margin-top: 20px;
        margin-bottom: 60px;
        font-family: 'Inter', sans-serif;
        font-size: 40px;
        font-weight: bolder;
      }
      p {
        font-weight: bold;
        font-size: 16px;
        margin: 0px;
      }
    }
    &__up--second {
      max-width: 594px;
      color: #0e0b3d;
      font-weight: bold;
    }
    &__image {
      border-radius: 36px;
      object-fit: cover;
    }

    //* Hero buttons
    &__buttons {
      display: flex;
      width: calc(10px + 130px + 200px);
      gap: 10px;

      &:hover > :not(:hover) {
        opacity: 0.4;
      }
    }
    &__button--black {
      width: 130px;
      height: 40px;
      @extend %buttonStyles;
      font-size: 16px;

      &:hover {
        background-color: $white;
        color: $black;
        border: solid $black 2px;
      }
    }
    &__button--white {
      width: 200px;
      height: 40px;
      @extend %buttonStyles;
      background: none;
      color: $black;
      border: 2px solid $black;
      font-size: 16px;

      &:hover {
        background-color: $black;
        color: $white;
      }
    }
  }

  //* Testimonials section
  .testimonials {
    margin-top: 63px;
    width: 100%;
    min-height: 280px;
    @include setFlex(column);
    gap: 40px;

    &__text {
      font-size: 20px;
      text-align: center;
      font-weight: bold;

      span {
        color: #293fff;
      }
    }
    &__icons {
      width: 100%;
      max-width: 1060px;
      height: auto;
      @include setFlex(row, space-between);

      img {
        transition: 0.4s;
        width: auto;
        height: auto;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  //* Cards section
  .cards {
    width: 100%;
    min-height: 851px;
    @include setFlex(column);
    gap: 54px;

    &__text {
      width: 100%;
      @include setFlex(column, center, start);

      p {
        color: #2400ff;
        font-size: 14px;
        margin-bottom: 17px;
      }
      h1 {
        font-size: 48px;
        font-family: 'Inter', sans-serif;
        margin: 0px;
      }
    }
    &__cointeiner {
      width: 100%;
      min-height: 450px;
      @include setFlex(row, space-between);
    }

    //* Card
    &__card {
      padding: 25px;
      width: 300px;
      height: 450px;
      border: #e6e6e6 solid 3px;
      border-radius: 30px;
      transition: 0.4s;
      @include setFlex(column, space-between, start);

      p {
        font-size: 16px;
        padding-bottom: 20px;
        font-weight: bold;
      }
      h2 {
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        padding-top: 10px;
      }
      &:hover {
        scale: 1.1;
      }
      &--frame {
        width: 64px;
        height: 64px;
        border: #e6e6e6 solid 3px;
        border-radius: 100%;
        @include setFlex(row);

        img {
          width: auto;
          height: auto;
        }
      }
    }
  }

  //* Content scetion
  .content {
    margin: auto;
    width: 100%;
    min-height: 900px;
    @include setFlex(row);
    gap: 95px;

    &__image {
      width: auto;
      height: auto;
    }
    &__texts {
      max-width: 626px;
      font-size: 16px;

      span {
        color: #ffcb14;
        font-size: 14px;
        margin: 0px;
      }
      h1 {
        font-size: 48px;
        font-family: 'Inter', sans-serif;
      }
      p {
        font-size: 16px;
        color: #1f1f1f;
        font-weight: bold;
      }
    }
    &__texts--mark {
      display: flex;
      align-items: center;
      gap: 24px;

      p {
        position: relative;
        color: $black;
        font-size: 28px;
        text-decoration: underline;

        &:hover::after {
          transform: translateX(100%);
        }
        &::after {
          position: absolute;
          transition: 0.4s;
          right: -50%;
          content: url(/text-arrow.svg);
        }
      }
    }
    .strar-back {
      width: 64px;
      height: 64px;
      @include setFlex(row);
      background-color: #e9e5ff;
      border-radius: 20px;
      img {
        width: auto;
        height: auto;
      }
    }
  }

  .section-rivers {
    flex-direction: row-reverse;
    height: 700px;
  }
  .section-rivers-text span {
    color: #7127cf;
  }
  .section-rivers-text h1 {
    font-size: 45px;
  }
  .section-rivers-text p {
    font-size: 18px;
  }
  .content-section-button button {
    color: #ffffff;
    margin-top: 40px;
    background-color: $black;
    border-radius: 100px;
    height: 42px;
    width: 125px;
    transition: 0.4s;
  }
  .content-section-button button:hover {
    background-color: #eeeeee;
    color: $black;
    scale: 1.05;
    box-shadow: 4px 4px 26px #505050;
  }
  .revamp-section {
    gap: 159px;
  }
  .revamp-section hr {
    border: solid #eeeeee 1px;
    border-radius: 0px;
  }
  .revamp-text-box {
    max-width: 764px;
    font-size: 20px;
  }
  .revamp-text-box p {
    max-width: 626px;
  }
  .newsletter-section {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    height: 668px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 64px;
  }
  .newsletter-section-text-box {
    position: relative;
    width: 100%;
    max-height: 212px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .newsletter-section-text-box h1 {
    font-size: 90px;
  }
  .newsletter-section-text-box span {
    color: #293fff;
  }
  .newsletter-section-text-box-left {
    position: relative;
    padding-top: 126px;
    max-width: 446px;
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .newsletter-section-text-box-left span {
    color: #2400ff;
  }
  .newsletter-image {
    background-color: #f5f4f3;
    padding: 8px;
    border-radius: 8px;
  }
  .newsletter-section-form form {
    position: relative;
    max-width: 556px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
  }
  .input-email {
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 20px;
    border: solid #e6e6e6 3px;
    border-radius: 99px;
    color: #4e4f51;
  }
  .newsletter-section-form-checkbox {
    display: flex;
    align-items: center;
    max-width: 280px;
    gap: 16px;
  }
  .newsletter-section-form-checkbox a {
    text-decoration: underline;
  }
  .newsletter-section-form button {
    background-color: $black;
    max-height: 56px;
    padding-left: 30px;
    padding-right: 30px;
    color: $white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    transition: 0.4s;
  }
  .newsletter-section-form button:hover {
    scale: 0.95;
    box-shadow: 4px 4px 26px #505050;
  }
  .checkbox {
    width: 16px;
    height: 16px;
  }
}

.footer {
  position: relative;
  width: 100%;
  height: 714px;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: end;
}
.footer-cointainer {
  position: relative;
  width: 1108px;
  height: 621px;
  display: flex;
  flex-direction: column;
}
.footer-top-section {
  position: relative;
  padding-top: 80px;
  height: 460px;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 200px;
}
.footer-bottom-section {
  position: relative;
  width: 1060px;
  height: 161px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #8687a0;
  border-top: solid #252642 1px;
}
.footer-top-section-container-lists {
  position: relative;
  min-width: 514px;
  display: flex;
  justify-content: center;
  gap: 140px;
}
.footer-top-section-list ul {
  color: #8687a0;
  font-size: 16px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0px;
}
.footer-top-section-list h3 {
  color: $white;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 32px;
}
