@use './variables.scss' as *;

//* Genelar styles
body {
  margin: 0px;
  background-color: $white;
  font-family: 'General Sans';
}
a {
  color: inherit;
  text-decoration: none;
  position: relative;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
.none {
  display: none;
}

//* Header styles
.header {
  width: 100%;
  height: 130px;
  @include setFlex(column);

  //* Popup
  &__popup {
    width: 100%;
    height: 40px;
    background-color: $black;
    color: $white;
    @include setFlex(row);

    p {
      @include setFlex(row);
      gap: 4px;
      font-size: 12px;
      font-family: 'Inter', sans-serif;

      &::before {
        content: url(/Star.svg);
        display: block;
      }
      &:hover {
        opacity: 0.5;
        transition: 0.4s;
      }
    }
  }

  //* Header container
  &__container {
    margin: auto;
    width: 100%;
    max-width: 1280px;
    height: 90px;
    @include setFlex(row, space-between);
  }
  &__container--left {
    width: 100%;
    max-width: 633px;
    @include setFlex(row, space-between);
  }

  //* Navbar
  &__navbar {
    width: 376px;
    list-style: none;
    font-weight: bold;
    @include setFlex(row, space-between);
    font-size: 16px;

    &--arrow {
      @include setFlex(row);
      gap: 8px;
      &::after {
        content: url(/Arrow-down.svg);
        display: block;
        margin-bottom: 6px;
      }
    }
    &--droped {
      position: fixed;
      top: 0;
      left: 0;
      margin: 0px;
      width: 100%;
      height: 100vh;
      background-color: $black;
      color: $white;
      list-style: none;
      @include setFlex(column);
      gap: 10%;
      font-size: 26px;
      z-index: 5;
    }
    a::before {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 2px;
      background-color: $black;
      scale: 0 1;
      transform-origin: left;
      transition: 0.4s;
    }
    a:hover::before {
      scale: 1;
    }
  }

  //* Header button
  &__button {
    width: 171px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    @extend %buttonStyles;
    gap: 14px;

    &::after {
      content: url(/Arrow-right.svg);
      display: block;
    }
    &:hover {
      scale: 1.04;
    }
  }
  &__button--droped {
    z-index: 6;
    background: none;
    border: none;
    display: none;
    gap: 4px;

    &-white,
    &-black {
      width: 25px;
      height: 3px;
    }
    &-white {
      background-color: $white;
    }
    &-black {
      background-color: $black;
    }
  }
}

//* Main styles
.main {
  margin: auto;
  max-width: 1280px;

  //* Hero section
  .hero {
    margin: auto;
    width: 100%;
    height: auto;
    @include setFlex(column);

    &__up {
      width: 100%;
      height: 377px;
      @include setFlex(row, space-between);
    }
    &__up--first {
      max-width: 553px;
      height: 100%;
      @include setFlex(column, center, none);

      h1 {
        margin-top: 20px;
        margin-bottom: 60px;
        font-family: 'Inter', sans-serif;
        font-size: 40px;
        font-weight: bolder;
      }
      p {
        font-weight: bold;
        font-size: 16px;
        margin: 0px;
      }
    }
    &__up--second {
      max-width: 594px;
      color: #0e0b3d;
      font-weight: bold;
    }
    &__image {
      border-radius: 36px;
      object-fit: cover;
    }

    //* Hero buttons
    &__buttons {
      display: flex;
      width: calc(10px + 130px + 200px);
      gap: 10px;

      &:hover > :not(:hover) {
        opacity: 0.4;
      }
    }
    &__button--black {
      width: 130px;
      height: 40px;
      @extend %buttonStyles;
      font-size: 16px;

      &:hover {
        background-color: $white;
        color: $black;
        border: solid $black 2px;
      }
    }
    &__button--white {
      width: 200px;
      height: 40px;
      @extend %buttonStyles;
      background: none;
      color: $black;
      border: 2px solid $black;
      font-size: 16px;

      &:hover {
        background-color: $black;
        color: $white;
      }
    }
  }

  //* Testimonials section
  .testimonials {
    margin-top: 63px;
    width: 100%;
    min-height: 280px;
    @include setFlex(column);
    gap: 40px;

    &__text {
      font-size: 20px;
      text-align: center;
      font-weight: bold;

      span {
        color: #293fff;
      }
    }
    &__icons {
      width: 100%;
      max-width: 1060px;
      height: auto;
      @include setFlex(row, space-between);

      img {
        transition: 0.4s;
        width: auto;
        height: auto;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  //* Cards section
  .cards {
    width: 100%;
    min-height: 851px;
    @include setFlex(column);
    gap: 54px;

    &__text {
      width: 100%;
      @include setFlex(column, center, start);

      p {
        color: #2400ff;
        font-size: 14px;
        margin-bottom: 17px;
      }
      h1 {
        font-size: 48px;
        font-family: 'Inter', sans-serif;
        margin: 0px;
      }
    }
    &__cointeiner {
      width: 100%;
      min-height: 450px;
      @include setFlex(row, space-between);
    }

    //* Card
    &__card {
      padding: 25px;
      width: 300px;
      height: 450px;
      border: #e6e6e6 solid 3px;
      border-radius: 30px;
      transition: 0.4s;
      @include setFlex(column, space-between, start);

      p {
        font-size: 16px;
        padding-bottom: 20px;
        font-weight: bold;
      }
      h2 {
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        padding-top: 10px;
      }
      &:hover {
        scale: 1.1;
      }
      &--frame {
        width: 64px;
        height: 64px;
        border: #e6e6e6 solid 3px;
        border-radius: 100%;
        @include setFlex(row);

        img {
          width: auto;
          height: auto;
        }
      }
    }
  }

  //* Content scetion
  .content {
    margin: auto;
    width: 100%;
    min-height: 900px;
    @include setFlex(row);
    gap: 95px;

    &__image {
      width: auto;
      height: auto;
    }
    &__texts {
      max-width: 626px;
      font-size: 16px;

      span {
        color: #ffcb14;
        font-size: 14px;
        margin: 0px;
      }
      h1 {
        font-size: 48px;
        font-family: 'Inter', sans-serif;
      }
      p {
        font-size: 16px;
        color: #1f1f1f;
        font-weight: bold;
      }
    }
    &__texts--mark {
      display: flex;
      align-items: center;
      gap: 24px;

      p {
        position: relative;
        color: $black;
        font-size: 28px;
        text-decoration: underline;

        &:hover::after {
          transform: translateX(100%);
        }
        &::after {
          position: absolute;
          transition: 0.4s;
          right: -50%;
          content: url(/text-arrow.svg);
        }
      }
    }

    //* Star backgraud
    .strar-back {
      width: 64px;
      height: 64px;
      @include setFlex(row);
      background-color: #e9e5ff;
      border-radius: 20px;
      img {
        width: auto;
        height: auto;
      }
    }
  }

  //* River content
  .content--rivers {
    flex-direction: row-reverse;
    min-height: 700px;

    &__texts {
      span {
        font-size: 16px;
        color: #7127cf;
      }
      h1 {
        font-size: 45px;
      }
      p {
        font-size: 20px;
      }
    }
  }

  //* Button content rivers and revamp
  .content__button {
    color: #ffffff;
    border: none;
    margin-top: 40px;
    background-color: $black;
    border-radius: 100px;
    height: 42px;
    width: 125px;
    transition: 0.4s;

    &:hover {
      background-color: #eeeeee;
      color: $black;
      scale: 1.05;
      box-shadow: 4px 4px 26px #505050;
    }
  }

  //* Revamp section
  .revamp {
    gap: 159px;

    hr {
      border: solid #eeeeee 1px;
      border-radius: 0px;
    }
    &__texts {
      max-width: none;

      span {
        font-size: 16px;
      }
      p {
        font-size: 20px;
        max-width: 626px;
      }
    }
  }

  //* Newsletter
  .newsletter {
    margin: auto;
    width: 100%;
    height: 668px;
    @include setFlex(column, center, none);
    gap: 64px;

    &__texts {
      width: 100%;
      max-height: 212px;
      @include setFlex(row, space-between);

      h1 {
        font-size: 96px;
        font-family: 'Inter', sans-serif;
      }
      span {
        color: #293fff;
      }
    }
    &__texts--left {
      align-self: flex-end;
      max-width: 446px;
      @include setFlex(row);
      gap: 24px;
      font-weight: bold;

      span {
        color: #2400ff;
      }
      &::before {
        content: url(/megaphone.svg);
        display: block;
      }
    }

    //* Newsletter form
    .newsletter__form {
      max-width: 556px;
      @include setFlex(row, space-between, none);
      flex-wrap: wrap;
      gap: 24px;

      button {
        background-color: $black;
        border: none;
        height: 64px;
        width: 183px;
        color: $white;
        font-size: 18px;
        font-weight: bold;
        border-radius: 99px;
        @include setFlex(row);
        gap: 16px;
        transition: 0.4s;

        &::after {
          content: url(/subscribe.svg);
        }
        &:hover {
          scale: 0.95;
        }
      }
      input[type='email'] {
        width: 100%;
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 32px;
        padding-right: 32px;
        font-size: 20px;
        border: solid #e6e6e6 3px;
        border-radius: 99px;
        color: #4e4f51;
      }
      &--checkbox {
        @include setFlex(row, none);
        max-width: 280px;
        gap: 16px;
        font-weight: bold;

        a {
          text-decoration: underline;
        }
      }
      span {
        position: absolute;
        border: solid $black 2px;
        background-color: $white;
        width: 24px;
        height: 24px;
        border-radius: 8px;
        @include setFlex(row);

        &::before {
          content: url(/check.svg);
        }
      }
      input[type='checkbox'] {
        width: 16px;
        height: 16px;
        opacity: 0;

        &:checked ~ span {
          opacity: 1;
          background-color: $black;
        }
      }
    }
  }
}

//* Foother
.footer {
  width: 100%;
  min-height: 714px;
  background-color: $black;
  @include setFlex(row, center, end);

  &__cointainer {
    width: 100%;
    max-width: 1060px;
    max-height: 537px;
    display: flex;
    flex-direction: column;
  }
  &__top {
    height: 460px;
    @include setFlex(row, space-between, start);

    &--lists {
      @include setFlex(row, center, start);
      gap: 110px;

      ul {
        color: #8687a0;
        font-size: 16px;
        list-style: none;
        margin: 0px;
        display: flex;
        flex-direction: column;
        gap: 28px;
        padding: 0px;

        h3 {
          color: $white;
          font-size: 24px;
          margin: 0px;
          margin-bottom: 4px;
        }
      }
      .footer__top--lists--third {
        margin-right: 146px;
      }
    }
  }
  .footer__bottom {
    width: 100%;
    height: 161px;
    @include setFlex(row, space-between);
    color: #8687a0;
    border-top: solid #252642 1px;
  }
}

//* Media query
@media all and (width <= 1280px) {
  .hero__image {
    width: 100%;
  }
  .cards__cointeiner {
    flex-wrap: wrap;
  }
  .newsletter .newsletter__texts h1 {
    font-size: 64px;
  }
}
@media all and (width <= 930px) {
  .content {
    flex-wrap: wrap;
  }
  .newsletter .newsletter__texts {
    flex-wrap: wrap;
    max-height: none;
  }
  .footer__top--lists .footer__top--lists--third {
    margin: 0px;
  }
}
@media all and (width <= 740px) {
  .footer__top--lists {
    flex-wrap: wrap;
    gap: 80px;
  }
  .footer__top {
    flex-wrap: wrap;
  }
}
@media all and (width <= 670px) {
  .header__button--droped {
    @include setFlex(column);
  }
  .header__navbar,
  .header__button {
    display: none;
  }
}
@media all and (width <= 465px) {
  .main .testimonials__icons {
    flex-wrap: wrap;
  }
  .hero__up {
    flex-wrap: wrap;
  }
  .main .hero__up--first {
    height: auto;
  }
  .content__image {
    width: 100%;
  }
}
